apiVersion: v1
kind: Service
metadata:
  creationTimestamp: "2025-12-11T15:37:10Z"
  labels:
    app: mealie
  name: mealie
  namespace: mealie
  resourceVersion: "2375"
spec:
  ports:
  - port: 9000
    protocol: TCP
    targetPort: 9000
  selector:
    app: mealie
  type: LoadBalancer
